/*Import fonts from css file*/
@import url(/css/fonts.css);

/* css variables */
@import url(/css/partials/--variables.css);



/* (Start) Styles for  Main Navigation  */

.mainHeader .mainMenu .navbar .navbar-brand {   
    width: 6rem;
  
}



/*Styles for links*/
.mainHeader .mainMenu .navbar .nav-item .nav-link{
    padding:  1.3rem;
    font-weight: 500;
    font-family: var(--roboto);
    color: var(--title-color);
}




.mainHeader .mainMenu .navbar .nav-item .active{
    color: var(--primary-color);

}


.mainHeader .mainMenu .navbar .nav-item .nav-link:hover{
    color: var(--primary-color);

}

/* (End) Styles for  Main Navigation  */


/* Herro Section Styles -Start */



/* Herro Section Styles -End */